.Content{
    padding: 30px;
    margin: 20px;
    background: rgba(137, 78, 255, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(132, 70, 255, 0.31);
    border-radius: 10px;
}

.Content  h2{
    color: rgb(166, 174, 225);
    font-weight: bold;
}

.Tab{
    background: rgba(137, 78, 255, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(132, 70, 255, 0.31);
    
}

.Content h3{
    color: rgb(181, 207, 255);
    font-weight: bold;
}

.TabList{
    background: rgba(35, 9, 85, 0.555);
   
}

.Description{
    display: flex;
    justify-content:flex-start;
    margin-top: 20px;
}

.Description img{
    margin: 5px;
    width: 25%;
    height: 25%;
}

.Description p{
    margin-top: 5px;
    color: rgb(166, 174, 225);
    font-weight: 500;
    white-space: pre-wrap;
}

.Hobbies{
    display: inline-flex;
    justify-content: center;
}

.Hobbies img{
    margin-top: 10px;
    margin-left: 10px;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    padding: 5px;
}

.Hobbies h3{
    margin-top: 50px;
    color: rgb(181, 207, 255);
    font-weight: bold;
    white-space: pre-wrap;
}

.Hobbies h2{
    margin-top: 20px;
    color: rgb(166, 174, 225);
    font-weight: bold;
    white-space: pre-wrap;
}

.Hobbies p{
    margin-top: 5px;
    color: rgb(166, 174, 225);
    font-weight: 500;
    white-space: pre-wrap;
}

@media screen and (max-width:1050px) {

    .Description{
        display: flex;
        flex-direction: column;
    }
    .Description img{
        width: 80%;
        height: 80%;
    }

    .Description p{
        font-size: 12px;
    }

    .Content  h2{
        font-size: 15px;
        font-weight: 300;
    }

    .Hobbies{
        display: flex;
        flex-direction: column;
    }

    .Hobbies h2{
        font-size: 15px;
    }


    .Hobbies h3{
        font-size: 14px;
    }

    .Hobbies p{
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {
    

}