.Header{
    padding: 30px;
    background: rgba(55, 0, 167, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(55, 0, 167, 0.31);
    border-radius: 10px;
    border-bottom-right-radius:0 ;
    border-bottom-left-radius: 0;

}


.Header  h2{
    color: rgb(166, 174, 225);
    font-weight: 500;

}


.Profile img{
    width: 18%;
    height: 18%;
    clip-path: circle();
}


.Summary{
  margin-top: 10px;
}

.Summary p{
    margin-top: 10px;
    color: #fff;
    margin-bottom: 20px;
    white-space: pre-wrap;
}

.Skills_icons{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

}

.Skills_icons li{
    display: inline;
}

.Skills_icons img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.Profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    margin-left: 15px;
}


.Profile p{
    font-size: small;
}

.Profile_text{
    margin-top: 10%;
    padding: 5px;
    color: rgb(166, 174, 225);
}

.Line{
    background:  rgb(74, 70, 139);;
    height: 1px; 
    border-radius: 10px;
    border-color:  rgb(74, 70, 139);;
}

.Documents  button{
    margin-top: 10px;
    border-radius: 20px;
    outline: none;
    border-color: rgb(74, 70, 139) ;
    background-color: rgb(74, 70, 139);
    padding: 10px;
    font-weight: bold;
    color: #fff;
    text-decoration-line: none;
   
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
    font-style: normal;
}
