.NavBar{

    display: flex;
    align-items: center;

}

.navbar_links_container
{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

.navbar_links
{
    display: flex;
    flex-direction: row;
}

.navbar_logo img{
    width: 50px;
    height: 50px;
    margin-right: 2rem;
    margin-left: 1rem;
}

.navbar_links a
{
   
    padding: 10px;
    font-weight: bold;
    font-weight: 500;
    color: rgb(150, 146, 228);
    text-decoration-line: none;
    margin-left: 50px;
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    font-style: normal;
  
    
}

.navbar_links a:hover{
    text-decoration-line: underline;
   
     
}