*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body
{
    


    /* ff 3.6+ */
    background:-moz-radial-gradient(ellipse at 50% 50%, rgba(15, 15, 103, 1) 0%, rgba(7, 8, 30, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(ellipse at 50% 50%, rgba(15, 15, 103, 1) 0%, rgba(7, 8, 30, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(ellipse at 50% 50%, rgba(15, 15, 103, 1) 0%, rgba(7, 8, 30, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(ellipse at 50% 50%, rgba(15, 15, 103, 1) 0%, rgba(7, 8, 30, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(ellipse at 50% 50%, rgba(15, 15, 103, 1) 0%, rgba(7, 8, 30, 1) 100%);


}

.appBar{
    background-image: url("assets/background.png");
}