*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body
{ 
    background-color: #00315b;
    background-image: linear-gradient(160deg, #00315b 0%, #0a2e4d 100%);
}





