*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body
{ 
    background-image: url("./assets/background.png");
}






@media screen and (max-width:1050px) {
    body
{ 
    background-color: rgb(19, 4, 47);

    background-image: none;
}
}