.Work h1{
    text-align: center;
    color: rgb(166, 174, 225);
    font-weight: bold;
    
}

.Projects ul{
   margin-top: 20px;
   list-style: none;
   display: flex;
   justify-content: center;
}

@media screen and (max-width:1050px) {

    .Work h1{
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {

.Projects ul{
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
 }
    
}



